extends ../layouts/base

block head
  title= "thealphanerd.io | about"

//- block headImage
//-   each post in posts
//-     if(post.type === "about")
//-       #header-image
//-         img(src=post.bigImage, alt="Header image of flocking simulation")
//- 
//-       img.buffer(src=post.bigImage, alt="This is a buffer image that can be ignored")

block content
  #about
    //- .buffer-me
    //-       img.frame(src="#{data.baseUrl}images/me.jpg")
    each post in posts
      if(post.type === "about")
        .post-body.markdown!= post.content
        
  
  // nav#social-links.group.small
  //   ul.nav-links-social.show
  //     li.text-link
  //       a.icon-github3(href="https://www.github.com/thealphanerd")
  //     li.text-link
  //       a.icon-soundcloud(href="https://www.soundcloud.com/thealphanerd")
  //     li.text-link
  //       a.icon-linkedin(href="https://www.linkedin.com/in/thealphanerd")
  //     li.text-link
  //       a.icon-vimeo2(href="https://vimeo.com/thealphanerd")
  //     li.text-link
  //       a.icon-twitter2(href="https://www.twitter.com/the_alpha_nerd")

