extends ../layouts/base

block seo
  - var canonicalHref = 'https://mylesborins.com/'
  - if (typeof currentIndex !== 'undefined' && currentIndex > 0 && pages && pages[currentIndex] && pages[currentIndex].url) canonicalHref = `https://mylesborins.com${data.baseUrl}${pages[currentIndex].url}`
  link(rel="canonical", href=canonicalHref)

block head
  title MylesBorins.com


block content

  each post in posts
    +post(post)

  .pagination.group
    - for (var i = 0; i < pages.length; i++) {
      - var page = pages[i];
      - if (i === currentIndex - 1) {
        a.newer(href=`${data.baseUrl}${page.url}`) Newer &#8594;
      - } else if (i === currentIndex + 1) {
        a.older(href=`${data.baseUrl}${page.url}`) &#8592; Older
      - }
    - }
