//- Mixin for post, used on homepage and post page
mixin postHead(post)
  .post-head.group
    a(href="#{data.baseUrl}#{post.url}")
      - if (currentIndex !== 0) {
      //- This is where the image will go for posts
      - }
        h1.post-title= post.title
      
    span.post-date!= 'Published ' + post.date.toLocaleDateString().split(',').slice(1).join(',')

mixin post(post)
  mixin postHead(post)
  .post-body.markdown!= post.content

doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="icon", type="image/png", href="#{data.baseUrl}images/cabin.png")
    link(href="#{data.baseUrl}styles/main.css", rel="stylesheet")
    block head
      title= "thealphanerd.io"
  body
    #header
      #header-accent
        #big-guy.light-grey
        #medium-guy.dark-grey
        #tiny-guy.almost-black
    
    - if (currentIndex === 0) {
      #header-image
        img(src="/images/theremax.png")
      img.buffer(src="/images/theremax.png")
    - }
    .meta-white
      .center.shift-up-body 
        br
        block content
    script(src="/scripts/jquery/jquery.min.js")
    script(src="/scripts/sticky-kit/jquery.sticky-kit.min.js")
    script(src="/scripts/main.js")
    script.
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-46827582-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
      
    #footer
      #tiny-guy.almost-black
      #medium-guy.dark-grey
      #big-guy.light-grey
      .center
        nav.group
          h1.name
            a(href="#{data.baseUrl}") Myles Borins
          ul.nav-links
            li.text-link
              a(href="#{data.baseUrl}about.html") about
            li.text-link
              a(href="#{data.baseUrl}projects.html") projects
            li.text-link
              a(href="#{data.baseUrl}archives.html") archives
      #optional-nav.center
        nav.group
          ul.nav-links
            li.text-link
              a(href="#http://www.github.com/thealphanerd") github
            li.text-link
              a(href="#{data.baseUrl}projects.html") linkedIn
            li.text-link
              a(href="#{data.baseUrl}archives.html") curriculum vitae