//- Mixin for post, used on homepage and post page
mixin postHead(post)
  .post-head.group
    a(href="#{data.baseUrl}#{post.url}")
      - if (currentIndex !== 0) {
      //- This is where the image will go for posts
      - }
        h1.post-title= post.title
    - if (post.type && post.type === 'project') {
      span.post-date= post.quarter
    - }
    - else {
      span.post-date!= 'Published ' + post.date.toLocaleDateString().split(',').slice(1).join(',')
    - } 
    

mixin post(post)
  mixin postHead(post)
  .post-body.markdown!= post.content

doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="icon", type="image/png", href="#{data.baseUrl}images/favicon.ico")
    link(href="#{data.baseUrl}styles/main.css", rel="stylesheet")
    block head
      title= "thealphanerd.io"
  body
    include header.jade
    
    .meta-white
      br
      .center.shift-up-body 
        block content

    include scripts.jade
      
    include footer.jade
      